body {
  @apply: p-10;
  font-family: "Archivo", helvetica, arial, sans-serif;
  display: grid;
  place-items: center;
}

.main {
  text-align: center;
  max-width: 50vw;
}

.loading {
  display: none;
}

.loading.show {
  display: block;
}

/* Partner logos */

.partner-logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-logos img {
  height: 30px;
}

.tech-to-the-rescue {
  width: 160px;
}
