.form {
    @apply: gap-2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form .input {
    width: 100%;
}

@media (max-width: 450px) {
    .form .input {
        width: calc(100vw - 150px);
    }
}